@import "tailwindcss";

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  animation: marquee 50s linear infinite;
  display: flex;
  white-space: nowrap;
  gap: 2rem;
}
